.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 2px;
  padding: 10px;
}

.card > * {
  margin: 5px;
}

.card > * > * > img {
  width: 300px;
  align-items: center;
  text-align: center;
}

.card > ul {
  list-style-type: none;
  padding: 0;
  align-items: center;
  text-align: center;
}
